<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="css"
    href="/stylesheets/styles.css">
  </head>

  <body>

  <%=yield%>

  </body>

</html>
