

<a href='/'>Home</a>


<% if @score %>
  <h1>This is the score: <%= @score %>
  </h1>
<% end %>

<div class="params">
  <%= params %>
</div>

<form action="" method="post" accept-charset="utf-8">
  <!-- Method is the http verb that this form is using -->
  <!-- if action is blank, it defaults to the current path -->
  <label for="word">Word</label>
   <input type="text" name="word" value="" id="word">   <!--  peep is born on line 11 , it is an attribute in the html tag -->

  <input type="submit" value="Submit">
</form>
