html {
margin-top: 0rem;
width: 100%;

}

  body {
  background-color: pink;
  text-align: center;
  color: purple;
  margin-top: 0rem;
  width: 100%;
}

  header{
    display: block;
    height: 35rem;
    /*width: 100%;*/
    opacity:  0.6;
    background-repeat: no-repeat;
    background-image: url("/images/Scrabble.jpg");
    background-size: initial;
    /*background-attachment: fixed;*/
    margin-top: 0rem;
  }

h1 {
  font-size: 6rem;
  padding-top: 2rem;
  border: 0px;
  margin: 0px;
}

nav {
    background-color: rgba(255,255,255, 0.75);
    border-style: solid;
    display: block;
    position: relative;
    bottom: 29px;
    padding: 30px;
    margin-top: 22rem;
}

nav a {
  padding: 100px;
  font-size: 1.5rem;
}

main {
  height: 300px;
  width: 100%;
}
